# ==================================================================================== #
#                                 VIRTUAL ENVIRONMENTS                                 #
# ==================================================================================== #
venv

# ==================================================================================== #
#                                         BUILD                                        #
# ==================================================================================== #
*.egg-info
build

# ==================================================================================== #
#                                        CACHES                                        #
# ==================================================================================== #
__pycache__
.ruff_cache
.mypy_cache

# ==================================================================================== #
#                                        BACKUP                                        #
# ==================================================================================== #
backup

# ==================================================================================== #
#                                         TESTS                                        #
# ==================================================================================== #
test/*/result
tmp_vepain/*

# ==================================================================================== #
#                                       NEXTFLOW                                       #
# ==================================================================================== #
.nextflow
work
.nextflow.log*